/* src/App.css */

.ReactVirtualized__Table {
  font-family: Arial, sans-serif;
}

.ReactVirtualized__Table__headerRow,
.ReactVirtualized__Table__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ReactVirtualized__Table__headerRow {
  font-weight: bold;
  background-color: #f9f9f9;
}

.ReactVirtualized__Table__row {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.ReactVirtualized__Table__row:nth-child(even) {
  background-color: #f0f0f0;
}

.ReactVirtualized__Table__headerTruncatedText,
.ReactVirtualized__Table__rowColumn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  padding: 8px;
  flex: 1;
  box-sizing: border-box;
}
